* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'tajawal', sans-serif;
    font-weight: 500;
    background: linear-gradient(180deg, rgb(30 31 36) 0%, rgb(24 27 29) 100%);
    font-size: 14px;
    color: #fff;
    user-select: none;
    min-height: 100vh;
}

::-webkit-scrollbar {
    /* display: none; */
}

img {
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button, input, a, textarea {
    outline: none;
}

.input_num[type=number]::-webkit-inner-spin-button,
.input_num[type=number]::-webkit-outer-spin-button {
    display: none;
}

.material-icons, .material-icons-two-tone, .material-icons-sharp, .material-icons-round, .material-icons-outlined {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

.material-icons-outlined {
    font-family: 'Material Icons Outlined';
}

.material-icons-round {
    font-family: 'Material Icons Round';
}

.material-icons-sharp {
    font-family: 'Material Icons Sharp';
}

.material-icons-two-tone {
    font-family: 'Material Icons Two Tone';
}


.nice-select {
    background: transparent;
    direction: rtl;
    border: none;
    padding: 0 5px 0 20px;
    font-weight: 700;
}

.nice-select span {
    color: #fff;
}

.nice-select:after {
    right: auto;
    left: 0px;
}

.nice-select .list {
    background-color: #272a2f;
    left: auto;
    right: -5px;
    margin-top: -4px;
    box-shadow: 0px 4px 13px -2px #1e1e1e82;
}

.nice-select .option {
    text-align: right;
    padding: 0 10px 0 0px;
    min-width: 140px;
    color: #c4c4c4;
}

.nice-select .option:hover,
.nice-select .option.focus {
    background-color: #272a2f;
}

.nice-select .option.selected,
.nice-select .option.focus {
    display: none;
}


.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 110;
    font-size: 16px;
    align-items: center;
    background: #1d1f23;
}

.header.hide {
    display: none;
}

.header .header_btn {
    display: flex;
    padding: 20px;
    align-items: center;
    font-size: 20px;
    position: relative;
}

.header .back_btn .header_btn {
    font-size: 18px;
    cursor: default;
    color: #fff;
}

.header .back_btn .header_btn::after {
    content: '';
    width: 10px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    right: 18px;
}

.nav_bar {
    transition: 0.5s;
    position: fixed;
    right: -280px;
    z-index: 999;
    width: 280px;
    top: 0;
    padding: 20px;
    height: 100vh;
    overflow: auto;
    direction: rtl;
    font-size: 16px;
    background: linear-gradient(180deg, rgb(30 31 36) 0%, rgb(25 28 30) 100%);
}

.nav_bar.nav_show {
    right: 0;
}

.nav_bar .profile_box {
    margin-bottom: 30px;
    text-align: center;
}

.nav_bar .profile_box .profile_pic {
    padding: 50px 60px 15px;
}

.nav_bar .profile_box .profile_pic img {
    border-radius: 50%;
}

.nav_bar .nav_links_box .nav_link {
    display: flex;
    column-gap: 8px;
    padding: 10px 0;
    cursor: default;
    color: #fff;
    flex-wrap: wrap;
    position: relative;
}

.nav_bar .nav_links_box .nav_link.categories_link_box {
    padding: 0 0 5px;
}

.nav_bar .nav_links_box .nav_link .categories_link {
    display: flex;
    gap: 8px;
    padding: 10px 0 5px;
    width: 100%;
}

.nav_bar .nav_links_box .nav_link .categories_link .expand_more {
    position: absolute;
    left: 5px;
    transition: .5s transform;
}

.nav_bar .nav_links_box .nav_link .categories_link .expand_more.rotat {
    transform: rotate(-180deg);
}

.nav_bar .nav_links_box .nav_link .nav_categories {
    width: 100%;
    padding: 0px 15px;
    display: none;
}

.nav_bar .nav_links_box .nav_link .nav_categories a {
    width: 100%;
    display: block;
    color: #fff;
    font-size: 16px;
    padding: 4px 15px 8px;
    margin: 5px 0;
    border-bottom: 1px solid #323132;
}

.nav_bar .nav_links_box .nav_link .nav_categories a:first-child {
    border-top: 1px solid #323132;
}

.nav_bar .nav_links_box .nav_link span {
    font-size: 21px;
    transform: translateY(1px);
}

.page_content {
    position: relative;
    height: 100vh;
    left: 0;
    transition: .5s left;
}

.admin_statistics {
    padding: 65px 15px 0;
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    direction: rtl;
    gap: 10px;
    width: 100%;
}

.admin_statistics.hide {
    display: none;
}

.categories_chart_box, .income_chart_box {
    display: flex;
    direction: rtl;
    flex-wrap: wrap;
    margin-top: 30px;
    box-shadow: 0 0 8px -3px rgba(44, 43, 43, 0.5);
    background-color: #202227;
    border-radius: 8px;
    padding: 20px 20px;
    align-items: center;
    width: 100%;
    position: relative;
    justify-content: space-between;
}

.categories_chart_box .orders_num, .income_chart_box .income_title {
    width: 100%;
    font-size: 16px;
    margin-right: -5px;
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin-bottom: 10px;
}

.categories_chart_box .orders_num .nice-select {
    font-size: 14px;
    font-weight: 500;
}

.categories_chart_box .orders_num .select_time {
    position: absolute;
    left: 30px;
}

.categories_chart_box .orders_num .nice-select .option {
    min-width: 100px;
}

.categories_chart_box .orders_num .nice-select::after {
    border-bottom: 2px solid #ff7f4d;
    border-right: 2px solid #ff7f4d;
    margin-top: -4px;
    left: 3px;
    height: 5px;
    width: 5px;
}


.categories_chart_box .categories_chart {
    position: relative;
}

.categories_chart_box .categories_chart::after {
    content: 'التصنيفات';
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 3.4vw;
    transform: translate(-50%, -50%);
}

.categories_chart_box .categories_names {
    width: 140px;
    max-height: 295px;
    overflow: auto;
}

.categories_chart_box .categories_names .categorie_name {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px 0;
    font-size: 13px;
    letter-spacing: 1px;
    color: #999;

}

.categories_chart_box .categories_names .categorie_name span {
    display: inline-block;
    min-width: 13px;
    height: 13px;
    border-radius: 3px;
    transform: translateY(1px);
}

.categories_chart_box .categories_names .categorie_num {
    letter-spacing: 1px;
    padding-right: 20px;
    margin-bottom: 4px;
}

.categories_chart_box .categories_chart {
    width: calc(100% - 150px);
}

.income_chart_box {
    padding: 15px;
}

.income_chart_box .income_chart {
    width: 100%;
    margin-top: 10px;
}

.income_chart_box .income_title {
    margin-right: 0;
    gap: 5px;
}

.income_chart_box .income_title .nice-select {
    font-size: 14px;
    font-weight: 500;
}

.income_chart_box .income_title .nice-select::after {
    border-bottom: 2px solid #ff7f4d;
    border-right: 2px solid #ff7f4d;
    margin-top: -5px;
    height: 6px;
    width: 6px;
}


.about_us_page {
    top: 0;
    width: 100%;
    display: none;
    direction: rtl;
    padding: 60px 0 0;
}

.about_us_page .about_us_cover {
    height: 200px;
    width: 100%;
    position: relative;
    margin-bottom: 60px;
}

.about_us_page .about_us_cover::after {
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
}

.about_us_page .about_us_cover img {
    height: 100%;
}

.about_us_page .about_us_cover .about_us_img {
    position: absolute;
    /* don't forget to delete this */
    padding: 5px;
    left: 50%;
    bottom: -50px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    background-color: rgba(39, 42, 46, 0.9);
    transform: translateX(-50%);
    box-shadow: -3px -3px 5px -3px rgb(210 210 210 / 40%), 3px 3px 8px -2px rgb(0 0 0 / 40%);
}

.about_us_page .restaurante_name {
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    width: 100%;
    margin-bottom: 20px;
}

.about_us_page .about_us_text p {
    line-height: 1.65;
    padding: 0 15px;
    letter-spacing: 1px;
    color: #eee;
}

.cover {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 199;
    display: none;
    background-color: rgba(0, 0, 0, 0.22);
}